* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Corbel";
  src: url("Resource/FONT/CORBEL.TFF");
}

@font-face {
  font-family: "Assistant";
  src: url("Resource/FONT/assistant.TFF");
}

body {
  font-family: "Corbel";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* NAVBAR */
header {
  height: 75px;
  width: 100%;
  background-color: #7f7a74;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9;
}

.logo img {
  max-height: 30px;
  width: 180px;
}

.header-left {
  float: left;
  margin-left: 50px;
  margin-top: 7px;
  margin-bottom: 30px;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.login {
  background-color: rgba(52, 55, 55, 0.8);
}

.header-right a:hover {
  background-color: rgba(52, 55, 55, 0.5);
}

.header-right a {
  color: white;
  line-height: 75px;
  padding-right: 30px;
  padding-left: 30px;
  display: block;
}

.menu {
  display: block;
}

/* BANNER */
.top-wrapper {
  padding: 180px 0 180px 140px;
  background-image: url("../Resource/BG.png");
  background-position: center;
  background-size: cover;
  height: 620px;
  color: white;
  text-align: left;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(95, 95, 95, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(95, 95, 95, 0.5);
}

.container h1 {
  margin-top: 75px;
  font-size: 45px;
}

.container h2 {
  font-size: 45px;
}

.container h3 {
  margin-top: 21px;
}

.btn-wrapper {
  text-align: left;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: left;
}

.btn:hover {
  opacity: 1;
}

.start {
  background-color: #B48F72;
}

/* DESTINASI */
.content-wrapper {
  height: 720px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: right;
}

.heading h2 {
  font-weight: normal;
  color: #B48F72;
}

.heading h3 {
  font-weight: normal;
  color: #B48F72;
}

.destination {
  float: left;
  width: 25%;
  position: relative;
}

/* REVIEW */
.review-wrapper {
  background-color: #D3BFAE;
  height: 700px;
  text-align: right;
}

.review-content {
  width: 50%;
  float: left;
}

.review-content p {
  color: #FFFFFF;
}

.review-txt {
  margin-bottom: 40px;
  font-size: 25px;
}

/* PARTNER */
.partnership {
  margin-top: 70px;
  background-color: #FFFFFF;
  text-align: left;
}

.part-contents {
  width: 50%;
  margin-bottom: 50px;
  float: left;
}

.partner {
  width: 33%;
  float: right;
}

/* INFO */
.information container {
  font-family: "Assistant";
  padding-top: 50px;
  padding-bottom: 50px;
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
  float: left;
}

.info ul {
  list-style-type: none;
}

.info ul li {
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  font-family: "Assistant";
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

footer hr {
  margin-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
  margin-top: 7px;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
