/* Untuk Tablet */
@media all and (max-width: 1240px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 32px;
  }

  .header-left {
    float: left;
    margin-left: 10px;
  }
  
  .header-right {
    float: right;
    margin-right: 10px;
  }

  .content-wrapper {
    height: 1080px;
    text-align:center;
  }
    
  .destination {
    width: 50%;
    margin-bottom: 50px;
  }

  .part-contents {
    width: 100%;
    float: left;
  }

  .information container {
    margin-left: 10px;
  }
    
}
  
/* Untuk Smartphone */
@media all and (max-width: 775px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
    
  .top-wrapper {
    text-align: left;   
  }
    
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper h2 {
    font-size: 24px;
    line-height: 36px;
  }
    
  .heading h2 {
    font-size: 30px;
    text-align: center;
  }

  .heading h3 {
    font-size: 20px;
    text-align: center;
  }

  .content-wrapper {
    height: 1980px;
    text-align:center;
  }

  .destination {
    width: 100%;
  }

  .part-contents {
    width: 100%;
    float: left;
  }

  .part-contents h2 {
    text-align: left;
    font-size: 20px;
  }

  .part-contents p {
    text-align: left;
    padding: 5px;
    font-size: 12px;
  }

  .partner {
    width: 33%;
    float: center;
    
  }

  .info {
    width: 50%;
    text-align: center;
  }
    
  footer {
    text-align: center;
    font-size: 10px;
  }

  body {
    margin-left: 0;
  }
}
  
  